<div class="club-fuhan-box">
    <div class="club-centent-box">
        <div>
            <h2>OK 这是一个正在开发的后台（没有设计，孤高的灵魂不允许我抄袭。</h2>
            <h3>导致我沉思在电脑面前，不知道该怎么写。</h3>
            <h3>对于完全没有设计细胞的我来说，未免有些过于为难了。</h3>
            <h3>但是，一个前端的基础素养绝对不只是设计，对吧？你也这样认为？</h3>
            <h3>登录一下试试？总得给我机会证明吧不是吗？</h3>
        </div>
        <div>
            <p-card class="club-card-box">
                <ng-template pTemplate="header">
                    <div class="header-crad">Welcome Fuhan system laboratory</div>
                    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your username!">
                                <nz-input-group [nzPrefix]="prefixIconUser">
                                    <ng-template #prefixIconUser>
                                        <i class="iconfont icon-yonghu"></i>
                                    </ng-template>
                                    <input type="text" nz-input formControlName="userName" placeholder="Username" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control>
                                <nz-input-group [nzPrefix]="prefixPassword">
                                    <ng-template #prefixPassword>
                                        <i class="iconfont icon-mima"></i>
                                    </ng-template>
                                    <input type="password" nz-input formControlName="password" placeholder="UserPassword" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <button nz-button class="login-form-margin" nzType="primary" (click)="getValidateValue()">Log in</button>
                    </form>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>