<div class="sckot-clube-box">
    
    <div class="sckot-main-box">

        <div class="header-main-box">
            <div class="header-block">
                <i></i>
                <i></i>
                <i></i>
                <div class="seach">
                    <input [(ngModel)]="seachValue" type="text" (blur)="getSeachUserInfo()" (focus)="getSeachUserInfo()" />
                    <img *ngIf="seach" src="../../assets/antvx-icon/seach.png" alt="">
                </div>
            </div>
        </div>

    </div>

</div>
