.ant-box{
    height:100%;
    display: flex;
    .antx-club-left{
        width: 20%;
        height: 100%;
        background-color: #fff;
        margin-right: 10px;
    }
    .antx-min-box{
        width: 200px;
        height: 200px;
        background-color: #fff;
        position:absolute;
        bottom: 30px;
        right:150px;
    }
}
.svg-icon{
    width: 2rem; height: 2rem;
    vertical-align: -0.15rem;
    fill: currentColor;
    overflow: hidden;
}